@charset "utf-8";
#container {position:relative; width: 1280px; margin: 90px auto 0;}
#container header {margin-top: 0;}
#container h2::after {content: ''; display: block; width: 1440px; height: 1px; background: var(--lgray); margin-top: 20px;}
#container .depth {position: absolute; right: 200px; top: 10px;}
#container .depth ul li {float: left; color: var(--gray);}
#container .depth ul li.active {color:#000;}
#container .depth ul li.active::after {background-image: url(../images/main/icon_join_step_on.png);}
#container .depth ul li::after {content: ''; display: inline-block; width: 10px; height: 10px; background: url(../images/main/icon_join_depth_off.png) no-repeat 0 0 / contain; margin: 0 10px;}
#container .depth ul li:last-of-type::after {display: none;}
main {width: 740px; margin: 90px auto;}
main h3 {font-size: 20px;}
main h3::after {content: ''; display: block; width: 740px; height: 1px; background: var(--yellow); margin: 10px 0 50px;}
main .important {position: absolute; top: 150px; right: 235px;}
main .imp_icon{color: var(--yellow);}
main .table_wrap {position: relative; top: 0; left: 0;}
main table {width: 100%;}
main table tr {border-bottom: 1px solid var(--lgray);}
main table th{width: 200px; height: 80px; line-height: 80px; padding-left:40px; text-align: left; box-sizing: border-box;}
main table tr td input {width:260px; height: 30px; border:1px solid  var(--gray); padding: 0; background-color:#fff; padding-left: 8px;}
main .mail_check {height: 35px; line-height: 35px; padding-bottom: 10px;}
main .mail_check input {position: relative; top: 6px; width: 20px; height: 20px;}
main table tr #emailDomain {width: 170px; height: 24px;}
main .phone_check {height: 35px; line-height: 35px; padding-bottom: 10px;}
main .phone_check input {position: relative; top: 6px; width: 20px; height: 20px;}
main .btn_join {width: 740px; text-align: center; font-weight: bold;}
main .btn_join button {width: 200px; height: 60px; margin: 34px 20px 0 20px; cursor: pointer; background: none; border:none; font-size: 15px;}
main .btn_join .join_before {background: var(--lgray);}
main .btn_join .join_accept {background: var(--yellow);}

