@charset "utf-8";
h2.tit {font-weight: bold; font-size: 24px;}
.commend {border-bottom: 1px solid var(--lgray); margin-bottom:50px; }
.commend_wrap {display: flex; width: 1280px; margin: 50px auto;}
.how_pd {width: 854px; border-right: 1px solid var(--lgray); padding-right: 80px; box-sizing: border-box;}
.how_pd ul {display: flex; flex-flow: row wrap; justify-content: space-between;}
.how_pd ul li {position:relative; width: 200px; margin-top: 30px;}
.how_pd .pd_cart button {border: none; background: none; cursor: pointer; width: 40px; position: absolute;}
.how_pd .pd_cart .btn_cart{bottom: -6px; right: 54px;}
.how_pd .pd_cart .btn_like{bottom: -6px; right: 8px;}
.sale_per {position:absolute; width: 44px; height: 44px; line-height: 44px; top:0; left: 0; background:#fff195; box-shadow:0 2px 1px rgb(0 0 0 / 17%); : #000; font-size:14px; text-align: center;}
.ico_per {font-size: 12px; padding-left: 4px;}
.lank {width: 426px; padding-left:60px; box-sizing: border-box; }
.lank_tab {display: flex; justify-content: center; margin-top: 30px;}
.lank_tab li {margin: 0 12px; font-size:17px; color:var(--gray); font-weight: bold;}
.lank_tab li.active {border-bottom: 1px solid #000; color: #000;}
.lank_list {margin-top: 30px;}
.lank_list li {display: flex; height: 60px; margin-bottom: 30px;}
/*.list_act {display: none;}*/
.list_living {display: none;}
.list_fashion {display: none;}

.lank_num {font-size: 20px; font-weight: bold;}
.lank_txt{padding: 0 20px; box-sizing: border-box;}
.pd_tit {display:block; margin:10px 0 6px; padding-bottom: 6px; border-bottom: 1px solid var(--lgray);}